body {
  font-family: 'Open Sans', sans-serif
}

.content-wrapper {
  display: flex;
  align-items: flex-start
}

.sidebar {
  /* flex: 0 0 15%; */
  width: 300px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  background-color: #f7f7f7;
  height: calc(100vh - 60px);
  position: fixed;
  transition: width 0.3s ease-out;
  overflow: hidden;
  flex-shrink: 0;
  white-space: nowrap;
  /* This will prevent the text from wrapping */
}


.sidebar-collapsed {
  width: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 210px;
  transition: margin-left 0.5s ease-out;
}

.sidebar h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px
}

.sidebar input[type=file] {
  width: 100%;
  margin-bottom: 20px
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background-color: #0f3f89;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px
}

.sidebar button:hover {
  background-color: #7ad9ff
}

.navbarbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0f3f89
}

a,
button,
li {
  font-size: 130%;
  font-weight: 500;
  color: #fff;
  text-decoration: none
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%
}

.logo {
  cursor: pointer;
  max-width: 150px
}

.navlinks {
  list-style: none
}

.navlinks li {
  display: inline-block;
  padding: 0 50px
}

.navlinks li a {
  transition: all .3s ease 0s
}

.navlinks li a:hover {
  color: #7ad9ff
}

button {
  padding: 10px;
  background-color: #7ad9ff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all .3s ease 0s
}

button:hover {
  background-color: #000;
  color: #fff
}

#headerInfo {
  padding-top: 30px
}

.button2 {
  background-color: #bee3ff;
  border: #000;
  color: #fff;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 2px 1px;
  cursor: pointer
}

h1 {
  border-radius: 10px;
  background-color: #bee3ff;
  display: inline-block;
  font-size: 3em;
  margin: 0;
  padding: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3)
}

h3 {
  color: #000;
  font-size: 1.6em;
  margin-top: 7px;
  text-align: center
}

h4 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  line-height: .6em;
  padding: 5px
}

h5 {
  color: #000;
  font-size: 1.2em;
  text-align: left;
  margin: 0;
  line-height: .6em
}

#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 90px;
  display: flex;
  flex-direction: column
}

#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 40px
}

#textInput {
  width: 90%;
  border: none;
  border-bottom: 3px solid #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em
}

.botText>span {
  background-color: #0c5a9e;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3)
}

.botText {
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: left;
  line-height: 1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px
}

.botText>span {
  max-width: 90%
}

.botText#warning {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c90000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.botText spanWarn {
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-style: bold
}

.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  margin-top: 60px;
  border-radius: 10px
}

.box {
  border: 2px solid #000
}

h6 {
  margin: 0
}

.userText {
  display: flex;
  justify-content: flex-end;
  color: black;
  font-family: 'Open Sans', sans-serif;

  font-size: 1.6em;
  text-align: left;
  line-height: 1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.userText>span {
  /* background-color: #60ffbd; */
  background-color: #bee3ff;
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}