<!DOCTYPE html>
<html>
<title>{%block title%} {%endblock%}</title>

<head>
  {%block stylefile%}{%endblock%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/home.js"></script>

</head>

<body>
  <div class="navbarbox">
    <header>
      <img class="logo" src="../static/studybuddy darker blue.png" alt="">
      <nav>
        <ul class="navlinks">
          <li><a href="/">Welcome</a></li>
        </ul>
      </nav>
      <button onclick="reset_page()" class="resetbutton">
        reset conversation
      </button>
    </header>
  </div>
  <div class="content-wrapper">
    <!-- Sidebar content -->
    <div id="open-sidebar">></div>

    <div class="sidebar">
      <button id="toggle-sidebar">x</button>
      <h2>Your documents</h2>

      <input type="file" id="pdfUploader" multiple>
      <br>
      <button id="processBtn">Process</button>
    </div>

    <div class="main-content">
      <div id="headerInfo">
        <center>
          <h1>{%block chatbottitle%}{%endblock%}</h1>
        </center>
      </div>
      <div class="boxed">
        <div>
          <!-- chatbox is where all the messages from both the chatbox and user are appended -->
          <div id="chatbox">
            <div class="botText" id="warning">
              <center>
                <spanWarn>
                  <b>
                    Warning: Generative AI is experimental. Info quality may vary.
                  </b>
                </spanWarn>
              </center>
            </div>
            <div class="botText">
              <span> {%block firstmsg%}{%endblock%} </span>
            </div>
          </div>
          <center>
            <img src="../static/loading.gif" id="loadingGif" style="display: none;">
          </center>
          <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="{%block
              inputtext%}
              {%endblock%}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>